<h4>Listado de Personajes</h4>
<ul class="list-group" >
  <li *ngFor="
    let item of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-danger': isLast,
      'list-group-item-info': isEven
    }"
  >
    <div>
      <span class="text-primary">{{i + 1}}. </span>
      <span>{{item.name}} - </span>
      <strong>Power: </strong>
      <span>{{item.power}}</span>
    </div>

    <button class="btn btn-danger" (click)="onDeleteCharacter(item.id)">x</button>
    <!-- <span>Es el primero: {{isFirst}}</span> -->
  </li>
</ul>
